@model IEnumerable<Happy_Analysis.Models.DataPoint>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="d-lg-inline-block btn btn-primary" asp-action="Create">Create New</a>&nbsp;&nbsp;
    <a class="d-lg-inline-block btn btn-primary" asp-action="Upload">Bulk Upload</a>
</p>

<table class="table" id="dataTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.X1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.X2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.X3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.X4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.X5)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.X6)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Y)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.X1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.X2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.X3)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.X4)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.X5)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.X6)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Y)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts
{
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="~/js/table.js"></script>
}
